{% load zinnia_tags tagging_tags i18n %}
{% tags_for_model zinnia.entry as tag_entry %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="engine" content="Zinnia {{ ZINNIA_VERSION }}" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ ZINNIA_MEDIA_URL }}css/print.css" />
    <!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/ie.css" />
    <![endif]-->
    {% get_archives_entries "zinnia/tags/link_archives_entries.html" %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of lastest entries" %}" href="{% url zinnia_feeds "latest" %}" />
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Alvaro Castro-Castilla (blog) : {% block title %}{% endblock %}</title>
  </head>
  <body id="zinnia">
    <div class="container">
      <div id="header" class="span-24 last">
	<div class="blog_title">
	  <a class="blog_title" href="{% url zinnia_entry_archive_index %}" title="Archive Index">
	    (( programming primates ))
	  </a>
	</div>
	  <p>by Álvaro Castro-Castilla</p>
	<div id="breadcrumbs" class="span-24 last breadcrumb">
	  /{% block breadcrumbs %}{% endblock %}
	</div>
      </div>
      <hr />
      <div id="body" class="span-24 last">
	<div id="content" class="span-16 border">
	  {% block content %}
	  <h3>The content block need to be overrided !</h3>
	  {% endblock %}
	</div>
	<div id="sidebar" class="span-8 last">
          <div class="top-navigation">	  
	    <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">
	      {% trans "sitemap" %}</a> |
	    <a href="{% url zinnia_feeds "latest" %}" title="{% trans "RSS Feed of lastest entries" %}" class="link feeds">
	      {% trans "RSS feed" %}</a>
	  </div>
	  <div class="welcome">
             <p></p>
             <p><a href="http://www.castrocastilla.com"><strong>About me</strong></a></p>
	     <p>I'm a programmer with transdisciplinary background and eclectic experience. You can see some of my work in my <a href="http://www.castrocastilla.com">home page</a>.</p>
	  </div>
	  {% block sidebar %}
	  {% endblock %}
	</div>
      </div>
      <hr />
      <div id="footer" class="span-24 last footer">
	<p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia</a>.</p>
      </div>
    </div>
  </body>
</html>
