@import url(http://fonts.googleapis.com/css?family=Tangerine|Monsieur+La+Doulaise);

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

a {
  text-decoration: none;
  color: #000;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}

.bold {
  font-weight: bold;
}

h1 :hover {
  color: #ddd;
}

h1 {
  font-weight:normal;
}

.center {
  position: absolute;
  height: 304px;
  width: 100%;
  top: 50%;
  margin-top: -152px;
}

.center-horizontal {
  text-align: center;
}

.userlink {
  font-family: 'Josefin Sans';
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}

.userlink-separator {
  font-family: 'Josefin Sans';
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}

.userlink:hover {
  color: #ddd;
}

.or {
  font-family: 'Josefin Sans';
  font-size: 20px;
  text-align: center;
  margin: 50px 0px 0px 0px;
  width: 100%;
  display: block;
}

.fourthbit {
  font-family: 'Josefin Sans';
  font-size: 42px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.art {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 38px;
  text-align: center;
  margin: 50px 0px 0px 0px;
  width: 100%;
}

